.DS_Store
.idea
*.log
tmp/
venv/

.auctex-auto
*-unstable.pdf

*.pdf
*.tex
*.xml
*.lof
*.lot
*.tex~
*.aux
*.idx
*.out
*.toc
*.nav
*.snm
*.vrb
*.dvi
*.fdb_latexmk
*.blg
*.brf
*.fls
*.entoc
*.ps
*.spl
*.bbl
*.xmpi
*.bcf
*.html
run.xml
